/*
Sección para el estilo de las ventanas desplegables(modals)
Autor: Francisco Javier López Salazar & Erick Jair Martinez & Braulio Miguel Perales Venegas
*/
table,th,td{
    border: 0;
}
.form-check{
    position: relative;
    left: 45%;
    bottom: 30pt;
}
#service{
    position: relative;
    bottom: 10%;
}
#modal{
    position: relative;
    bottom: 8%;
}
.form-select{
    border-top: none;
    border-left: none;
    border-right: none;
}
#cita{
    position: absolute;
    left: 45%;
    bottom: 5%;
}
h4{
    position: relative;
    left: 3%;
}
#Persona{
    width: auto;
}
#input{
    position: relative;
    left: 24%;
    bottom: 20%;
}
.foto{
    position: relative;
    top: 3%;
}
#observacion{
    width: 80%;
}
#BusqCiudadano{
    background: rgb(230, 221, 221);
}
#btn_crear{
    position: relative;
    left: 68%;
    bottom: 50pt;
}
